@import "base/variables";
@import "../scss/base/extends";
@import "../scss/base/mixin";
@import "components/header";
@import "components/presentacion";
@import "components/galeriaIndex";
@import "components/footer";
@import "components/muralesytatoo";
@import "components/mas-servicios";
@import "components/contacto";
@import "base/mediaQuery";
@import "components/gridhoodies";




*{
    margin: 0%;
    padding: 0%;
}  


html{
    font-size: 25px;
    font-display: swap;
    font-family: 'Zen Kurenaido', sans-serif;
    color: $colortxt;
    text-decoration: none;
}


.fondo{
    background-color: $bg-color;
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $colortxt;
}
.link{
    text-decoration: none;
    color:$color-serv;
    &:hover{
        color: blanchedalmond;
    }
}

.error{
    margin-left: 450px;
    margin-top: 250px;
    color: $bg-color;
}

.bt-error{
    color:$colortxt;
    margin-left: 700px;
}

.icono{
    width: 50%;
    color: $colortxt;
}