.footer{        
        padding: 10px;
        margin-top: 50px;
        @media only screen and (max-width: 481px){
            margin-top: 0px;
        }
        @media only screen and (max-width: 576px){
            margin-top: 0px;
        }
        .footerFlex{
            @extend %dp-flex;
            .tel{
                list-style-type: none;
                padding: 0px 10px;
                font-size: 0.7rem;
                color: $color-pr;
            }
        
            .insta{
                    list-style-type: none;
                    padding: 0px 10px;
                    font-size: 0.9rem;
                    @media only screen and (max-width: 481px){
                        
                    }
                .insta-img{
                    width: 10%;
                    height: 3%;
                    padding-right: 10px; 
                    @media only screen and (max-width: 481px){
                        width: 10%;
                    }
                }
            }
            .wpp{
                    list-style-type: none;
                    padding: 0px 10px;
                    font-size: 0.9rem;
                    @media only screen and (max-width: 481px){
                        
                    }
                .wpp-img{
                    width: 10%;
                    height: 3%;
                    padding-right: 10px; 
                    @media only screen and (max-width: 481px){
                        width: 10%;
                    }
                }
            }
        }        

}      