.footer{
        opacity: 80%;
        background-size:cover;
        padding: 10px;
        border-bottom: $colortxt 5px;
        margin-top: 200px;
        background-image: url(../bg-footer.jpg);
        @media only screen and (max-width: 481px){
            margin-top: 0px;
        }
        @media only screen and (max-width: 576px){
            margin-top: 0px;
        }
        .footerFlex{
            @extend %dp-flex;
            .insta{
                    list-style-type: none;
                    padding: 0px 10px;
                    font-size: 0.9rem;
                    @media only screen and (max-width: 481px){
                        display: none;
                    }
                .insta-img{
                    width: 10%;
                    height: 3%;
                    padding-right: 10px; 
                    @media only screen and (max-width: 481px){
                        width: 10%;
                    }
                }
            }
            .wpp{
                    list-style-type: none;
                    padding: 0px 10px;
                    font-size: 0.9rem;
                    @media only screen and (max-width: 481px){
                        display: none;
                    }
                .wpp-img{
                    width: 10%;
                    height: 3%;
                    padding-right: 10px; 
                    @media only screen and (max-width: 481px){
                        width: 10%;
                    }
                }
            }
        }
    }      