@import "../base/mixin";

main{
    .galeria-img{
        background-color: $bg-color;
        display: grid;
        grid-template-areas:"foto-galeria1 foto-galeria2"
                            "foto-galeria3 foto-galeria4"
                            "foto-galeria5 foto-galeria6"
                            "foto-galeria7 foto-galeria8"; 
        justify-items: center;
        align-items: center;
        padding-bottom: 50px;
        .foto-galeria1, .foto-galeria2, .foto-galeria3, .foto-galeria4, .foto-galeria5, .foto-galeria6, .foto-galeria7, .foto-galeria8{
            justify-items: center;
            width: 80%;
            padding-bottom: 10px; 
        }
    }
    .foto-galeria1{
            grid-area: foto-galeria1;
            &:hover{
                @include transforms(scale(1.2));
                @include transitions(cubic-bezier(0.175, 0.885, 0.32, 1.275) 2s);
            }
    }
    .foto-galeria2{
            grid-area: foto-galeria2;
            &:hover{
                @include transforms(scale(1.2));
                @include transitions(cubic-bezier(0.175, 0.885, 0.32, 1.275) 2s);
            }
    }
    .foto-galeria3{
            grid-area: foto-galeria3;
            &:hover{
                @include transforms(scale(1.2));
                @include transitions(cubic-bezier(0.175, 0.885, 0.32, 1.275) 2s);
            }
    }
    .foto-galeria4{
            grid-area: foto-galeria4;
            &:hover{
                @include transforms(scale(1.2));
                @include transitions(cubic-bezier(0.175, 0.885, 0.32, 1.275) 2s);
            }
    }
    .foto-galeria5{
            grid-area: foto-galeria5;
            &:hover{
                @include transforms(scale(1.2));
                @include transitions(cubic-bezier(0.175, 0.885, 0.32, 1.275) 2s);
            }
    }
    .foto-galeria6{
            grid-area: foto-galeria6;
            &:hover{
                @include transforms(scale(1.2));
                @include transitions(cubic-bezier(0.175, 0.885, 0.32, 1.275) 2s);
            }
    }    
    .foto-galeria7{
            grid-area: foto-galeria7;
            &:hover{
                @include transforms(scale(1.2));
                @include transitions(cubic-bezier(0.175, 0.885, 0.32, 1.275) 2s);
            }
    }
    .foto-galeria8{
            grid-area: foto-galeria8;
            &:hover{
                @include transforms(scale(1.2));
                @include transitions(cubic-bezier(0.175, 0.885, 0.32, 1.275) 2s);
            }
    }  
}