@import "../base/variables";
@import "../base/mixin";
@import "../base/extends";


main{
    .titleHat{
        color:$color-serv;
        font-size: 2.5rem;
        font-weight: 500;
        margin-bottom: 10%;
        margin-left: 30px;
        text-decoration: underline;

    }
    .hats{
        padding-top: 70px;
    }
    .gridGorras{
        @extend %dp-grid;
        grid-template-areas: "hat1 hat2 hat3"
                            "precio-hat1 precio-hat2 precio-hat3"
                            "btncart1 btncart2 btncart3"
                             "hat4 hat5 hat6"
                             "precio-hat4 precio-hat5 precio-hat6"
                             "btncart4 btncart5 btncart6";

        margin-bottom: 20%;
        margin: 0% 10% 20% 10%;
        @media only screen and (max-width:481px){
            margin: 10% 5%;
        }

        .hat1{
            grid-area: hat1;
        }
        .precio-hat1{
            grid-area: precio-hat1;
        }
        .btncart1{
            grid-area: btncart1;
        }
        .hat2{
            grid-area: hat2;
        }
        .precio-hat2{
            grid-area: precio-hat2;
        }
        .btncart2{
            grid-area: btncart2;
        }
        .hat3{
            grid-area: hat3;
        }
        .precio-hat3{
            grid-area: precio-hat3;
        }
        .btncart3{
            grid-area: btncart3;
        }
        .hat4{
            grid-area: hat4;
        }
        .precio-hat4{
            grid-area: precio-hat4;
        }
        .btncart4{
            grid-area: btncart4;
        }
        .hat5{
            grid-area: hat5;
        }
        .precio-hat5{
            grid-area: precio-hat5;
        }
        .btncart5{
            grid-area: btncart5;
        }
        .hat6{
            grid-area: hat6;
        }
        .precio-hat6{
            grid-area: precio-hat6;
        }
        .btncart6{
            grid-area: btncart6;
        }
        .hat1, .hat2, .hat3, .hat4, .hat5, .hat6{
            width: 100%;
            &:hover{
                @include transforms(scale(1.5));
                @include transitions(cubic-bezier(0.175, 0.885, 0.32, 1.275) 1.5s);
            }
            @media only screen and (max-width:481px){
                width: 100%;
            }
        }
    }

    .precio-shirt{
        position: relative;
        display: block;
        color: $color-serv;
        font-size: 1rem;
        z-index: -10;
        @media only screen and (max-width:481px){
            font-size: 0.7rem;
        }
    }
}