@import "../base/mediaQuery";

.header-home, .header-home-contacto{
            text-decoration: none;
            color:$colortxt;
            font-size: 1rem;
            background-color: $bg-color;
            list-style-type: none;
            font-style: normal;
            font-weight: bold;
            margin-top: 30px;
            background-size: 100%; 
            border-bottom: $bg-color solid 10px;
            @extend %dp-flex;
            flex-direction: row;
            flex-wrap: wrap;
            position: relative;
         
            &:hover{
                background-color: black;
                color: blanchedalmond;

            }



    .menu-inicio{
                text-decoration: none;
                @extend %dp-flex;
                color:$colortxt;


        .menu{
                @extend %dp-flex;
                text-decoration: none;
                list-style-type: none;
                position: relative;
                padding: 0px;
                background-color: $bg-color;
                color:$colortxt;
                    
            .inicio, .muralesytatoo, .mas-servicios, .contacto{
                        display: inline-block;
                        text-decoration: none;
                        color: $colortxt;
                        padding: 5px 50px;
                        text-align: center;
                        position:relative;
                        @media only screen and (max-width: 576px){
                            
                        }
            }
        
        }    

    }

}






