.header-home{
            list-style-type: none;
            position: fixed;    
            z-index: 10;
            margin-left: 268px; 
            margin-top: 5px;
            
    .menu-inicio{
        display: block;
        position: relative;
        background-color: $bg-header;
        .menu{
                @extend %dp-flex;
                text-decoration: none;
                list-style-type: none;
                position: relative;                   
                .inicio, .muralesytatoo, .mas-servicios, .contacto, .tienda{
                    font-family: "nosifer";
                    font-size: 0.7rem;
                    display: inline-block;
                    text-decoration: none;
                    color: $colortxt;
                    padding: 0px 30px;
                    text-align: center;
                    position:relative;
                    z-index: 10;

                    &:hover{
                        background-color: black;
                        color: blanchedalmond;
                        cursor: pointer;
        
                    }
                }  
            
                .tienda{
                    .carrito{
                        display: inline-block;
                        width: 20%; 
                        margin-top: 20px;
                        z-index: 10;
                    }
                }         
        }    

    }
    .menuHamburguesa{
        display: none;
    }
}








