/*Código hecho desde cero en SCSS*/

@import "../base/mixin";
@import "../base/variables";
@import "../base/extends";


main{
    .titleRemera{
        color:$color-serv;
        font-size: 2.5rem;
        font-weight: 500;
        margin-bottom: 10%;
        margin-left: 30px;
        text-decoration: underline;

    }

    .gridRemeras{
        @extend %dp-grid;
        grid-template-areas: "shirt1 shirt2 shirt3"
                              "precio-shirt1 precio-shirt2 precio-shirt3"
                              "btncart1 btncart2 btncart3"
                             "shirt4 shirt5 shirt6"
                             "precio-shirt4 precio-shirt5 precio-shirt6"
                             "btncart4 btncart5 btncart6";
 
        .remera1{
            grid-area: shirt1;
        }
        .precio-shirt1{
            grid-area: precio-shirt1;
        }
        .btncart1{
            grid-area: btncart1;
        }
        .remera2{
            grid-area: shirt2;
        }
        .precio-shirt2{
            grid-area: precio-shirt2;
        }
        .btncart2{
            grid-area: btncart2;
        }
        .remera3{
            grid-area: shirt3;
        }
        .precio-shirt3{
            grid-area: precio-shirt3;
        }
        .btncart3{
            grid-area: btncart3;
        }
        .remera4{
            grid-area: shirt4;
        }
        .precio-shirt4{
            grid-area: precio-shirt4;
        }
        .btncart4{
            grid-area: btncart4;
        }
        .remera5{
            grid-area: shirt5;
        }
        .precio-shirt5{
            grid-area: precio-shirt5;
        }
        .btncart5{
            grid-area: btncart5;
        }
        .remera6{
            grid-area: shirt6;
        }
        .precio-shirt6{
            grid-area: precio-shirt6;
        }
        .btncart6{
            grid-area: btncart6;
        }
        
        .remera1, .remera2, .remera3, .remera4, .remera5, .remera6{
            width: 100%;
            &:hover{
                @include transforms(scale(1.5));
                @include transitions(cubic-bezier(0.175, 0.885, 0.32, 1.275) 1.5s);
            }
        }

    }

    .precio-shirt{
        position: relative;
        display: block;
        color: $color-serv;
        font-size: 1rem;
        z-index: -10;
    }
}
