@import "../base/extends";

.gradiente{
    background: linear-gradient(to bottom, black, rgb(122, 122, 122));
}

.navEmi{
    font-size: 1rem;
    color:$colortxt;
    margin-left: 15px;
    text-decoration: none;
}

.tatoo, .murales{
    @extend %dp-flex;
    flex-direction: column;
    padding: 50px 10px 10px 90px;
    font-weight: bold;
    margin: 20px 15px;
    color: $color-murales;

    @media only screen and (max-width:481px){
        margin: 0px 0px;
        padding: 0px 0px;
    }
}

.tatoo{
    margin-bottom: 60px;
    @media only screen and (max-width:481px){
        margin-bottom: 0px;
    }
}

.tatooTxt{
    padding-bottom: 80px;
    font-size: 2rem;
    @media only screen and (max-width:481px){
        font-size: 1rem;
        padding-bottom: 0px;
    }  
}
.muralesTxt{
    font-size: 2rem;
    @media only screen and (max-width:481px){
        font-size: 1rem;
    }
}



.galeria-tatoo{
    display: grid;
    grid-template-areas: "foto-tatoo1 foto-tatoo2 foto-tatoo3 foto-tatoo4 foto-tatoo5"
                         "foto-tatoo6 foto-tatoo7 foto-tatoo8 foto-tatoo9 foto-tatoo10";
    justify-content: center;
    align-items: center;
    @media only screen and (max-width:481px){
        margin: 0px 10px;
        display: grid;
        justify-content: center;
        grid-template-areas: "foto-tatoo1 foto-tatoo2 foto-tatoo3"
                             "foto-tatoo4 foto-tatoo5 foto-tatoo6"
                             "foto-tatoo7 foto-tatoo8 foto-tatoo9";
    }
}
.foto-tatoo1{
    grid-area: foto-tatoo1;
}
.foto-tatoo2{
    grid-area: foto-tatoo2;
}
.foto-tatoo3{
    grid-area: foto-tatoo3;
}
.foto-tatoo3{
    grid-area: foto-tatoo3;
}
.foto-tatoo4{
    grid-area: foto-tatoo4;
}
.foto-tatoo5{
    grid-area: foto-tatoo5;
}
.foto-tatoo6{
    grid-area: foto-tatoo6;
    padding-top: 20px;
}
.foto-tatoo7{
    grid-area: foto-tatoo7;
    padding-top:20px;
}
.foto-tatoo8{
    grid-area: foto-tatoo8;
    padding-top: 20px;
}
.foto-tatoo9{
    grid-area: foto-tatoo9;
    padding-top: 20px;
}
.foto-tatoo10{
    grid-area: foto-tatoo10;
    padding-top: 20px;
    @media only screen and (max-width:481px){
        display: none;
    }

}
.foto-tatoo1, .foto-tatoo2, .foto-tatoo3, .foto-tatoo4, .foto-tatoo5, .foto-tatoo6, .foto-tatoo7, .foto-tatoo8, .foto-tatoo9, .foto-tatoo10{
    width: 100%;   
    padding-left: 10px; 

    &:hover{
        @include transforms (scale(1.5));
        @include transitions (cubic-bezier(0.075, 0.82, 0.165, 1) 1s);
    }

    @media only screnn and (max-width:481px){
        padding-left: 0px;
    }

}

.slideEmi{
    margin-bottom: 30px;
}

.texto-murales{      
    display: flex;
    padding: 5px 5px 20px 8px ;
    font-size: 1rem;
    text-align: start;
    color:rgb(255, 255, 255);   
}

.bar{
    width:30%;
}

.imgMural{
    width: 50%;
    margin-left: 350px;

    &:hover{
        @include transforms (scale(1.2));
        @include transitions (cubic-bezier(0.075, 0.82, 0.165, 1) 2s);
    }
}

.fauna{
    position: relative;
    display: block;
    font-size: 2rem;
    font-weight: 500;
    color:$color-murales;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 20px 10px;
}


.imgMuralPinta{
    width: 43%;

    &:hover{
        @include transforms (scale(1.1));
        @include transitions (cubic-bezier(0.075, 0.82, 0.165, 1) 2s);
    }
}

.Bottom{
    @extend %dp-flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 100px;
}