@import "../base/variables";

main{

    .presentacion{  
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;  
            background-image: url(mural8.jpg);
            background-size: 100%;
            padding: 250px 0px; 
            flex-direction: column;
            @media only screen and (max-width: 481px){
                background-repeat: no-repeat;
                padding: 10px;

            }
            @media only screen and (max-width:576px){
                background-repeat: no-repeat;
                padding: 120px;

            }
        .texto{
            display: block;
            color: darken($colortxt, 15%);
            font-size: 2rem;
            text-decoration: underline;
            text-transform: uppercase;
            background-color: $bg-color;
            position: relative;

            @media only screen and (max-width: 481px){
                font-size: 1rem;
                background-color: $color-pr;
                color: $bg-color;
            }
            @media only screen and (max-width:576px){
                font-size: 1rem;
                background-color: $color-pr;
                color: $bg-color;
            }
        }
        .text0{
            display: block;
            color: darken($colortxt, 15%);
            text-align: center;
            font-size: 1.5rem;
            background-color:$bg-color;
            position: relative;
            text-transform: uppercase;
            margin-top: 30px;
            @media only screen and (max-width: 481px){
                font-size: 0.9rem;
                background-color: $color-pr;
                color: $bg-color;
            }
            @media only screen and (max-width:576px){
                font-size: 0.7rem;
                background-color: $color-pr;
                color: $bg-color;
            }
        }
    }
    .principal{
            @extend %dp-flex;
            background-color: $bg-color;
            color: $colortxt;
            padding: 140px 0px 140px 0px;
            flex-wrap: wrap;
            flex-direction: row;
            font-size: 1.5rem;
            @media only screen and (max-width: 481px){
                padding: 41px 0px 2px 0px;
                font-size: 1rem;
            }
            @media only screen and (max-width:576px){
                padding: 5px 0px 5px 0px;
                text-decoration: underline;
            }
        .ultimos-trabajos{
            .header-divider{
                border-top: 1px  solid;
                display: block;
                width: 100%;
                @media only screen and (max-width: 481px){
                    display: none;
                }
                @media only screen and (max-width: 576px){
                    display: none;
                }
            }
        }
    }
    
}
