@media only screen and (max-width:321px){
    .header-home, .header-home-contacto{
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        .menu-inicio{
            align-items: flex-start;
            .menu{
                flex-direction: column;
                align-items: flex-start;
                .inicio, .muralesytatoo, .mas-servicios, .contacto{
                    padding: 0px 4px;
                }
            }
        }

    }
    main{
        .presentacion{
            display: flex;
            padding: 10px 10px;
            background-repeat: no-repeat;
            
            .texto, .text0{
                font-size: 1rem;
            }
        }
        .principal{
            padding: 10px 0px 10px 0px;
            .ultimos-trabajos{
                font-size: 1.5rem;
            }
        }
        .galeria-img{
           .gombu{
               margin-left: 75px;
           } 
            .mercado{
                font-size: 0.5rem;
            }
        }
    }

}

@media only screen and (max-width: 481px){
    .header-home, .header-home-contacto{
        display: flex;
        flex-direction: row;
        justify-content: start;
        margin-right: 5px;
        margin-top: 0px;
        padding:0px;
        font-size: 0.8rem;
        .inicio, .muralesytatoo, .mas-servicios, .contacto{
            padding: 0px 4px;
        }
    }
   
}

@media only screen and (max-width:577){
    .header-home, .header-home-contacto{
        padding:0px;
        .inicio, .muralesytatoo, .mas-servicios, .contacto{
            padding: 5px 13px;
        }

    }

    
}
